:root {
  --special-purple: rgb(40, 28, 60);
  --navy-blue: rgb(0, 102, 204);
  --btn-gap: 5px;
}

body {
  background-color: var(--special-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: inline-block;
  padding: 20px;
  background-color: var(--navy-blue);
  border: 2px solid gold;
  border-radius: 10px;
}

#display,
#btn-container {
  width: 250px;
}

#display {
  background-color: var(--special-purple);
  color: gold;
  height: 50px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

#display p {
  margin-left: 10px;
}

#btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--btn-gap);
}

.btn {
  width: calc(25% - var(--btn-gap));
  aspect-ratio: 1;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.digit-btn,
.dot-btn {
  background-color: gold;
}

.operator-btn,
.equal-btn {
  background-color: var(--special-purple);
}

.digit-btn,
.dot-btn,
.operator-btn,
.equal-btn {
  color: var(--navy-blue);

  &:hover {
    background-color: white;
  }
}

.first-line-btns {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clear-btn,
.back-btn {
  width: 49%;
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.clear-btn {
  background-color: red;
  color: white;

  &:hover {
    background-color: white;
    color: red;
  }
}

.back-btn {
  background-color: white;
  color: var(--navy-blue);

  &:hover {
    background-color: var(--navy-blue);
    color: white;
    border-color: white;
  }
}
